[credential]
	helper = store
[user]
	email = molnarmatenorbert@gmail.com
	name = matee8
[pull]
    rebase = false
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = zdiff3
