configuration{
    modi: "run,drun,window";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    window-format: "{icon} {t}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    display-run: " ";
    display-window: " 󰣆";
    display-Network: "󰤨";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
